In [ ]:
from typing import List
import numpy as np
import pandas as pd

In [5]:
a = np.array([210.2, -15.3, 30.8])
a

array([210.2, -15.3,  30.8])

In [12]:
'_'.join(np.round(a).astype(int).astype(str).tolist())

'210_-15_31'

In [2]:
pd.read_csv("/home/gxd/code/fly-craft-examples/train_scripts/reward_norm/evaluations/results/end2end_medium_success_model_128_128_2e8steps_lambda_1e-3_5.csv")

,dg_v,dg_mu,dg_chi,is_success,termination,cumulative_reward,episode_length
0,199.549820,-25.724865,-25.375884,True,reach_target_termination_single_step_based_on_...,-11.140033,43
1,157.850197,29.936245,35.102060,True,reach_target_termination_single_step_based_on_...,-21.608956,53
2,200.728458,-2.096122,55.447607,True,reach_target_termination_single_step_based_on_...,-15.224406,53
3,160.708104,8.845938,53.428039,True,reach_target_termination_single_step_based_on_...,-24.254431,62
4,225.113967,23.562130,-10.195357,True,reach_target_termination_single_step_based_on_...,-20.875950,72
...,...,...,...,...,...,...,...
995,248.387634,-19.872625,-43.540555,True,reach_target_termination_single_step_based_on_...,-47.437180,141
996,185.904054,-27.989139,-10.499371,True,reach_target_termination_single_step_based_on_...,-51.862724,209
997,203.062870,-10.779430,-0.223126,True,reach_target_termination_single_step_based_on_...,-15.572196,109
998,160.140455,15.131237,37.601617,True,reach_target_termination_single_step_based_on_...,-24.790617,96
999,224.859821,27.408439,55.606827,True,reach_target_termination_single_step_based_on_...,-39.715289,126

In [ ]:
is_success_name: str = "is_success"
key_names: List[str] = ["dg_v", "dg_mu", "dg_chi"]